.image_logo {
    width: 35%;
}

.navbar {
    background-color: #a1a6aa;
}

.nav-link:hover {
    font-weight: bold;
    color: azure;
    border: solid 3px black ;
    border-radius: 20px;
    margin-left: 10px;
    background-color: rgba(223, 0, 104, 0.692);

}

.nav-link{
    border: solid 3px rgba(223, 0, 104, 0.692) ;
    display: flex;
    align-items: center;
    border-radius: 20px;
    margin-left: 10px;
    font-weight: bold;
    
}

.d-block {
    width: 100vw;
    height: 25vh;
    object-fit: cover;
}

h3 {
    font-size: 7vw;
    color: rgba(223, 0, 104, 0.692);
}

.checkbox {
    padding-top: 3vw;
    margin-left: 2vh;
    margin-right: 3vh;
   
}

.tarjetas > img{
    max-width: 20rem;
   height: 12rem;
   
}
.tarjetas{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background-color:#a1a6aa83 ;
   
   
}
#contenedor{
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    max-width: 20rem;
    margin-left: 3vh;
    margin-right: 3vh;
}
.card-title{
    font-weight: bold;
    font-size: 3vh;
    padding-left: 5px;
}


.footer{
    padding-left: 5vh;
    padding-right: 5vh;
    margin-top: 5vh;
    background-color: #de757169;
}
.image-social-media{
    width: 50px;
    margin: 8px;
}
main{
    min-height: 79vh;
}
.button_contact{
    margin-left: 24vh;
}
.table{
    margin-top: 5vh;
}

.image_stats{
width: 5px;
}