.image_logo {
    width: 35%;
}

.d-block {
    width: 100vw;
    height: 25vh;
    object-fit: cover;
}

h3 {
    font-size: 7vw;
    color: rgba(223, 0, 104, 0.767);
}

.checkbox {
    padding-top: 3vw;
    margin-left: 2vh;
    margin-right: 3vh;
}

#contenedor {
    margin-top: 5rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    max-width: 20rem;
    margin-left: 3vh;
    margin-right: 3vh;
    height: 33rem;
    margin-top: 2vh;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.03);
}

.card-img {
    width: 100%;
    object-fit: cover;
    height: 40%;
    border-bottom: 3px solid #17a2b8; 
}

.card-body {
    background-color: #343a40;
    color: #f8f9fa; 
    padding: 20px;
}

.text_complement {
    margin-bottom: 3px;
}

.footer {
    padding-left: 5vh;
    padding-right: 5vh;
    margin-top: 5vh;
    background-color: #de757169;
}

.image-social-media {
    width: 50px;
    margin: 8px;
}

main {
    min-height: 79vh;
}

.button_contact {
    margin-left: 24vh;
}

.table {
    margin-top: 5vh;
}

.image_stats {
    width: 5px;
}

.main-card {
    height: 42%;
}

.card-body .fw-bold {
    color: #17a2b8;
}

.card-body p {
    margin-bottom: 10px;
}

.card .btn-primary {
    background-color: #ff69b4;
    border-color: #ff69b4;
}

.card .btn-primary:hover {
    background-color: #ff85c9;
    border-color: #ff85c9;
}


body {
    background-color: #343a40; 
    color: #f8f9fa; 
}
.navbar {
    background-color: #343a40; 
    padding: 10px;
}

.nav-link {
    color: #f8f9fa; 
}

.nav-link:hover {
    color: #ff69b4; 
    font-weight: bold;
}
.image_banner{
    height: 35vh;
}

